@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pacific.com</h1>
    <p class="lead">World's leading e-commerce platform</p>
    
   
</div>

<div class="row">
    <div class="col-md-4">
        @*<h2>Products</h2>
    <p>
        We sell everything, Just get in and find what you want!!
    </p>
    <p><a class="btn btn-default" href="http://localhost:50000/Products/Index">View All Products</a></p> *@
    </div>

</div>